<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
        </div>

        <div class="col-lg-9">
            <h1>{{song.name}} - {{song.singer}}</h1>
            <audio controls src={{song.path}}></audio>
            <p>{{song.type}}</p>
        </div>
    </div>
</div>